body {
    font-family: "Inter", sans-serif;
    background: #FFF;
    }
  ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6, p {
      margin-top: 0;
      margin-bottom: 0;
  }

  .conteiner {
    width: 1210px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  outline: 2px solid red;
  }
.conteiner-nav {
  display: flex;
  align-items: center;
}
  .title-nav {
  display: flex;
  align-items: center;
  }
  .title-logo {
    color: #5F0A61;
    font-family: Reem Kufi;
    font-size: 25px;
    font-weight: 400;
    line-height: 3.75;
    text-transform: uppercase;
    margin-right: 145px;
  }
  .menu-list {
    display: flex;
   gap: 40px;
  }
  .menu-item {
    
  }
  .menu-link {
    color:#2E363E;
   font-size: 18px;
  font-weight: 500;
  line-height: 2.7;
  }
  .contact-link {
    color: #5F0A61;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 2.74;
    margin-left: 239px;
  }

  .home-page {
   }
  .page-img {
  }
  .home-content {
  }
  .home-page-title {
    color: #2E363E;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    max-width: 580px;
    line-height: 1.3;
letter-spacing: -0.02em;
padding-top: 203px;
margin-bottom: 25px;
     }
  .home-page-descr {
    color: #434B53;
    font-size: 21px;
    max-width: 434px;
    line-height: 1.6;
letter-spacing: -0.01em;
margin-bottom: 25px;
  }
  .home-btn {
color: #FFF;
font-family: Inter;
font-size: 21px;
font-style: normal;
font-weight: 600;
line-height: 1.43;
letter-spacing: -0.01;
border-radius: 5px;
background: #5F0A61;
cursor: pointer;
padding: 20px 50px;
}
  .home-page-img {
  }